:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fafafa;
  color: #212121;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.form-title {
  color: #212121;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #1976d2;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1976d2;
  transition: all 0.3s ease-in-out;
}
a:hover::after {
  width: 100%;
}